.record-result-root {
  display: flex;
  flex-direction: column;
  background-color: $white;

  .main {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;

    .header {
      word-break: keep-all;
      white-space: pre-wrap;
      text-align: center;
      padding: 100px 20px;
      font-size: 30px;
      font-weight: 700;
      color: $green-darken;
    }

    .share-container {
      display: flex;
      justify-content: center;
      gap: 20px;
      background-color: $grey100;
      padding: 12px 20px;

      button > img {
        width: 40px;
        height: 40px;
      }
    }

    .playlist-section {
      flex: 1;
      display: flex;
      justify-content: center;
      background-color: $green;
      padding: 30px 20px;

      ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 600px;

        .song-container {
          display: flex;
          align-items: center;
          gap: 16px;
          padding: 12px;
          border-radius: $border-radius;
          background-color: $white;

          .thumbnail {
            width: 50px;
            height: 50px;
            border-radius: $border-radius;
          }

          .title {
            width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .artist {
            width: 120px;
            @include ellipsis;
          }

          .tags {
            flex: 1;
            display: flex;
            align-items: center;
            gap: 10px;

            .bar {
              flex: 1;
              height: 10px;
              background-color: $green-darken;
              border-radius: $border-radius;

              &.not {
                background-color: $green-lighten;
              }
            }
          }
        }
      }
    }
  }

  .add-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: $green-darken;
    border-radius: 50%;

    img {
      width: 40px;
      height: 40px;
    }
  }
}

@media (max-width: 600px) {
  .record-result-root {
    .main {
      .header {
        padding: 80px 20px;
        font-size: 24px;
      }

      .playlist-section {
        padding: 40px 20px;

        ul {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .song-container {
            display: flex;
            align-items: center;
            gap: 16px;

            .thumbnail {
              width: 50px;
              height: 50px;
              border-radius: $border-radius;
            }

            .title {
              width: 200px;
              overflow: hidden;
              text-overflow: ellipsis;
              font-size: 14px;
            }

            .artist {
              width: 120px;
              font-size: 14px;
            }

            .tags {
              flex: 1;
            }
          }
        }
      }
    }
  }
}
