.record-result-root {
  background-color: var(--color-green);
  .main {
    padding: 0 20px;

    .header {
      word-break: keep-all;
      white-space: pre-wrap;
      text-align: center;
      padding: 100px 0;
      font-size: 30px;
    }

    .playlist-section {
      ul {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .song-container {
          display: flex;
          align-items: center;
          gap: 16px;
          background-color: var(--color-green-lighten);
          padding: 8px;
          border-radius: var(--border-radius);

          .thumbnail {
            width: 50px;
            height: 50px;
            border-radius: var(--border-radius);
          }

          .title {
            width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .artist {
            width: 120px;
          }

          .tags {
            flex: 1;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .record-result-root {
    .main {
      .header {
        font-size: 24px;
      }

      .playlist-section {
        ul {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .song-container {
            display: flex;
            align-items: center;
            gap: 16px;

            .thumbnail {
              width: 50px;
              height: 50px;
              border-radius: var(--border-radius);
            }

            .title {
              width: 200px;
              overflow: hidden;
              text-overflow: ellipsis;
              font-size: 14px;
            }

            .artist {
              width: 120px;
              font-size: 14px;
            }

            .tags {
              flex: 1;
            }
          }
        }
      }
    }
  }
}
