//grey scale
$grey100: #e0e0e0;
$black: #000000e6;
$white: #fefefe;

//green
$green-darken: #557227;
$green: #b7d400;
$green-lighten: #e8f2a8;

//blue
$blue: #4ea3d2;

//pink
$pink: #ff6868;

//yellow
$yellow: #ebd45d;
