//grey scale
$whiteOpacity: #f7f7f7c1;
$black-opacity: #111111c5;
$gray100: #e0e0e0;
$gray200: #eeeeee;
$gray300: #d9d9d9;
$gray400: #999999;
$gray500: #767676;
$gray600: #2a2a2a;
$black: #111111;
$white: #fefefe;

//green(primary)
$green-darken: #557227;
$green: #b7d400;
$green-lighten: #e8f2a8;

//blue
$blue: #248cee;
$blue-lighten: #b7d7f5;

//pink
$pink-darken: rgb(104, 56, 56);
$pink: #ff6868;
$pink-lighten: #f6c4c4;

//yellow
$yellow-darken: #c8ad29;
$yellow: #ebd45d;
$yellow-lighten: #f5ebba;

$brown: #684d08;
$brown-darken: #3f2d00;

//secondary
$secondary-lighten: #f1e1f4;
$secondary: #b867c6;
$secondary-darken: #863895;
