//grey scale
$whiteOpacity: #f7f7f7c1;
$gray100: #e0e0e0;
$gray200: #eeeeee;
$gray300: #d9d9d9;
$gray400: #999999;
$gray500: #767676;
$black: #111111;
$white: #fefefe;

//green(primary)
$green-darken: #557227;
$green: #b7d400;
$green-lighten: #e8f2a8;

//blue
$blue: #0a83f3;
$blue-lighten: #499eed;

//pink
$pink: #ff6868;

//yellow
$yellow: #ebd45d;

//secondary
$secondary-lighten: #f1e1f4;
$secondary: #b867c6;
$secondary-darken: #863895;
