:root {
  //color
  --color-black: #000000e6;
  --color-white: #fefefe;
  --color-green: #b7d400;
  --color-blue: #4ea3d2;
  --color-pink: #ff6868;
  --color-yellow: #ebd45d;

  //size
  --max-page-width: 1000px;
}
