* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Pretendard', sans-serif;
  list-style: none;
  text-decoration: none;
  letter-spacing: -2%;
  -webkit-text-size-adjust: 100%;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

button {
  background-color: transparent;
  cursor: pointer;
  border: 0;
  outline: 0;
}

.button-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  padding: 16px;
  background-color: #ffffff80;
  border: 1px solid $gray300;
  border-radius: 6px;
  font-size: 16px;

  &:hover {
    background-color: $green-lighten;
  }
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $black;
}

body {
  #root {
    width: 100%;
    min-height: 100vh;
    height: 100%;
  }
}
