@import './mixin';

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Pretendard', sans-serif;
  list-style: none;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: -2%;
  -webkit-text-size-adjust: 100%;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

button {
  background-color: transparent;
  cursor: pointer;
  border: 0;
  outline: 0;
}

input {
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

body {
  #root {
    width: 100%;
    height: 100vh;
  }
}
